table {
    overflow-x:scroll;
    font-family: arial, sans-serif;
    background-color: wheat;
    border-collapse: collapse;
    border-spacing: 0;
    width:auto;
    border: 1px solid #ddd;
  }
  
  td, th {
    border: 1px solid #3482;
    text-align: center;
    padding: 8px;
    min-width: 200px;
  }
  
  tr{
    background-color: aqua;
  }